[user]
	name = ervice
	email = erkka@ervice.fi
[core]
	editor = nvim
	ignorecase = false
[init]
	defaultBranch = main
[color]
	ui = auto
[pull]
	rebase = true
[push]
	default = current
[alias]
	# --- Status and History ---
	st = status
	co = checkout
	br = branch
	ci = commit
	amend = commit --amend
	prune = remote prune origin
	logg = log --oneline --graph --decorate
	del = branch -d 
	l = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

	# --- Aliases Consolidated from Shell Configs ---
	addup = add -u
	addall = add .
	branch = branch
	checkout = checkout
	clone = clone
	commit = commit -m
	fetch = fetch
	pull = pull origin
	push = push origin
	stat = status
	tag = tag
	newtag = tag -a
	gl = log --oneline --graph --decorate --all
	
[include]
	path = ~/.gitconfig_local